html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  font-size: 22px;
  color: #fdfffc;
  background-color: #011627;
  height: 400px;
  width: 1400px;
}

label {
  font-size: 22px;
}

button {
  background-color: #fdfffc;
  color: #011627;
}

#search-by-title-response,
#search-by-id-response {
  max-height: 400px;
  max-width: 1400px;
  overflow: scroll;
}

#search-by-title-request,
#search-by-id-request {
  margin-bottom: 0;
}

pre,
xmp {
  margin: 0;
  padding: 0;
}

a:link {
  color: #e71d36;
}

a:visited {
  color: #ff9f1c;
}

a:hover {
  color: #2ec4b6;
}

a:active {
  color: #e71d36;
}
